.div{
  
    margin-right: 5rem;
}

.div Button{
    margin-left: 2rem;
    border-radius: 0.5rem;
    /* border-color: rgb(159, 165, 42); */
/* background-color: rgb(128, 60, 0); */
text-align: right;


}